<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libiyi.exa.server.dao.AdminInfoMapper">
    <resultMap id="BaseResultMap" type="com.libiyi.exa.server.entity.AdminInfo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="subject" jdbcType="VARCHAR" property="subject" />
        <result column="teach_year" jdbcType="INTEGER" property="teachYear" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    </resultMap>
    <insert id="createAdminInfo">
        INSERT INTO admin_info(user_id, title, subject, teach_year, create_time, update_time) VALUE (#{i.userId}, #{i.title},#{i.subject}, #{i.teachYear},  #{i.createTime}, #{i.updateTime})
    </insert>

    <select id="getByUserId" resultMap="BaseResultMap">
        SELECT id, user_id, title, subject, teach_year, create_time, update_time FROM admin_info WHERE user_id = #{userId}
    </select>
</mapper>